# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

In [2]:
ordered_list = ["Python","R","SQL","Juilia"]

Some of the commonly used libraries used by Data Scientists include:

In [3]:
ordered_lib = ["numpy","Scikit_learn","Scipy","tensorflow","keras"]

|S.no | Data Science Tools |
|---:|:-----------------|
| 1 | Jupyter Notebooks |
| 2 | Anaconda |
| 3 | Apache Spark |

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
hours

3.3333333333333335

## Author 
Rahul Dhali